<h1>官网链接{{link}}</h1>
{{!-- 两对花括号{{}}只能解析数据不能解析标签 --}}
<h1>公司地址1{{address}}</h1>
{{!-- 三对花括号{{{}}}既可以解析标签也可以解析数据 --}}
<h1>公司地址2{{{address}}}</h1>

<h1>handlebars的循环语句：<h1>
<h2>循环数组：</h2>
{{#each teachers}}
    <!--{{.}}表示数组中的每个值-->
    <!--{{@index}}可以获取到数组的索引-->
    <h2>{{@index}}===={{.}}</h2>
{{/each}}

<h2>循环对象：</h2>
{{#each data}}
<!--{{.}}既可以表示数组中的值，也可以表示对象中的值-->
<!--{{@key}}可以获取到对象的key-->
<h2>{{@key}}===={{.}}</h2>
{{/each}}

<h1>handlebars的if、unless语句：<h1>
{{!--{{#if 布尔类型的值(默认不支持表达式)}}--}}
{{#if lujing}}
    <h2>存在路径</h2>
{{else}}
    <h2>不存在路径</h2>
{{/if}}
{{!--{{#unless 布尔类型的值(默认不支持表达式)}}不支持，属于if的取反操作--}}
{{#unless lujing}}
    <h2>存在路径</h2>
{{else}}
    <h2>不存在路径</h2>
{{/unless}}

<h1>handlebars的if语句与循环语句混合：</h1>
{{#each studentss}}
    <h1>有学生可以查看...</h1>
{{!--{{else}}可以嵌套在循环语句中，进行判断逻辑--}}
{{else}}
    <h1>没有学生可以查看...</h1>
{{/each}}

<!--当遍历的是json数组时，可以直接{{key}}拿到每一个对象的key对应的值-->
{{#each students}}
    <!--@first可以获取第一条数据-->
    {{#if @first}}
        <p>第一个学生：{{name}}</p>
    {{/if}}
    {{#if salary}}
        <p style="color:blue;">{{@index}}=={{name}}=={{age}}=={{sex}}==有工资收入</p>
        <!--遍历数组中的对象，拿到对象的每一个key-->
        {{#each .}}
            <p style="color:red;">{{@key}}=={{.}}</p>
        {{/each}}
    {{else}}
        <p style="color:green;">{{@index}}=={{name}}=={{age}}=={{sex}}==无工资收入</p>
        {{#each .}}
            <p style="color:red;">{{@key}}=={{.}}</p>
        {{/each}}
    {{/if}}
    <!--@last可以获取最后一条数据-->
    {{#if @last}}
        <p>最后一个学生：{{name}}</p>
    {{/if}}
{{else}}
    <h1>没有学生可以查看...</h1>
{{/each}}

<h1>不同上下文中的数据获取：</h1>
{{!--不同上下文中的数据获取，注意：一对{{}}就表示一个上下文作用域，
所以要想拿到其他上下文的数据，需要通过 ../往上推级别--}}
{{#each students}}
    链接：<a href="{{../link}}" target="_blank">{{../link}}</a><!--每次循环打印1次-->
    {{#each .}}
        {{#if @first}}
            地址：{{{../../../address}}}<br><!--每次循环打印1次-->
        {{/if}}
        路程：{{../../lujing}}<br><!--每次循环打印4次-->
    {{/each}}
{{/each}}